##Created by Mihayluk for the Snake project


#logs
*.log
npm-debug.log

# IntelliJ
/out/
.idea

#IML
*.iml

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar
.mvn

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties